.header {
   background-color: #d283fa;
   font-size: 2rem;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: white;
   padding: 2rem;  
}
.main {
    display: flex; 
    margin-top: 5rem; 
    gap: 5rem; 
    &_sectionForm{
       display: flex; 
       flex-direction: column; 
       gap: 2rem; 
       margin-left: 5rem;
       font-size: 1.5rem;
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       &-input {
        padding: 0.5rem; 
        font-size: 1.5rem;
       }
    }
    &_sectionList{
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-end ;
        margin-right: 5rem; 
        &-country {
            list-style: none;
            border: 2px solid lightseagreen;
            width: 20rem;
            height: 13rem;
            padding-block: 1rem; 
            padding-inline: 1rem;
            margin-inline: 1rem; 
            margin-block: 1rem; 
            font-size: 1.5rem;
        }
    }
}